:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
$lato: 'Lato';
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 150ms var(--timing-function), background-color 150ms var(--timing-function);
  position: relative;
}
body {
  background: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.main-container{
  display: flex;
  flex-direction: row-reverse;
  width: 1198px;
  background-color: #ffffff;
  // margin: 0 auto;
  // box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.my-proffesion{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* main content */
.main-contain-section{
  padding:83px 90px;
}
.main-contant-title{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 5px;
}
.about-me-section{
  margin-bottom: 0px;
}
.about-me-profession{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}
.about-name{
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: black;
  margin-bottom: 25px;
}
.about-me{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 648px;
}
.my-projects-section{
  margin: 0 0 0px 0;
}
/* List */
.my-list-numbers{
  padding: 0 0 0 17px;
}
.my-project-item{
  color: black;
  font-weight: bold;
}
.my-project-link{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0px 0px 0px 0px;
  &:hover,:focus{
    color: #FB6D3A;
  }
}
.link{
  margin-left: 5px;
  &:hover,:focus{
    color: #FB6D3A;
  }
}
.my-project-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-project-bracket{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-right: 5px;
  &:hover,:focus{
    color: #FB6D3A;
  }
}
/* My work expirience */
.my-work-expirience-company{
  color: #FB6D3A;
}
.my-work-exprirence-position{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-exprirence-time{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin: 0 0 10px 0;
}
.my-work-exprirence-divider{
  color: black;
  font-weight: bold;
}
.my-work-expririence-duties{
  padding-left: 18px;
}
.my-work-expririence-duty{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-exprirence-company{
  margin: 0 15px 0 0;
}

/* Side bar section */
.side-bar-section{
  background-color: #1E2939;
  width:370px;
  padding: 40px 0;
}
.side-bar-image{
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.contact-section,
.tech-skills-section{
  margin: 50px 0 0 40px;
}
.side-bar-tittle{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color:#ffffff;
  margin-bottom: 10px;
}
/* Contacts section */
.contact-section-type{
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
  display: flex;
}
.contact-section-link{
  color:#fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  &:hover,:focus{
    color: #FB6D3A;
  }
}
/* Tech skills */
.tech-skills-list{
  padding: 0 0 0 17px;
}
.tech-skills-item{
  color: #FB6D3A;
}
.tech-skills-item-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color:#ffffff;
}
.contact-section-box{
  display: flex;
  align-items: center;
  &:not(:last-child){
    margin-bottom: 5px;
  }
}