
    <!--main container-->
    <div class="main-container">
        <!--Main contain section-->
        <div class="main-contain-section">
            <!-- about me section -->
            <div class="about-me-section">
                <h2 class="about-me-profession">Front-End Developer</h2>
                <h1 class="about-name">Andrew Vidiborets</h1> 
                <h3 class="main-contant-title">Summary</h3>
                <p class="about-me">
                  I am a junior Front-End developer.
                  In my learnin box technolofies like HTML , CSS , REACT , JavaScript
                   and many and much more.I am looking for full-time position in company.
                  I have experience work with Agile /Scrum methodology when I worked in team.
                  I am learning fast,I am very responsible and punctual.
                  I will be glad to work in your company and fulfill the assigned tasks
                </p> 
            </div>
            <!--My projects Section-->
            <div class="my-projects-section">
                <h3 class="main-contant-title">Projects</h3>
                <ol class="my-list-numbers">
                    <Li class="my-project-item">
                        <span class="my-project-text">
                            <a class="my-project-bracket" href="http://vidiborets.github.io/Ocean-s_Thirteen/">ICECREAM</a>
                            <a class="my-project-link" href="https://github.com/Vidiborets/Ocean-s_Thirteen">Link to code</a>
                            ..
                            <span class="my-project-bracket">[</span> HTML, SASS, JS, Parcel <span class="my-project-bracket">]</span>
                            <p class="my-project-link" >A website with a responsive layout. Role: Team Lead. </p>
                        </span>
                    </Li>
                    <Li class="my-project-item">
                        <span class="my-project-text">
                            <a class="my-project-bracket" href="https://vidiborets.github.io/The_Magnificent_Seven/">FILMOTEKA</a>
                            <a class="my-project-link" href="https://github.com/Vidiborets/The_Magnificent_Seven">Link to code</a>
                            ..
                            <span class="my-project-bracket">[</span> HTML, SASS, JS, Parcel ,Handlebars, REST 
                            API, AJAX,
                             <span class="my-project-bracket">]</span>
                            <p class="my-project-link" >Application for choosing a movie and with a responsive layout. Role: Scrum Master. </p>
                        </span>
                    </Li>
                    <Li class="my-project-item">
                        <span class="my-project-text">
                            <a class="my-project-bracket" href="https://contact-vidiborets.netlify.app/">CONTACTS</a>
                            <a class="my-project-link" href="https://github.com/Vidiborets/goit-react-hw-08-phonebook">Link to code</a>
                            ...
                            <span class="my-project-bracket">[</span> HTML, SASS, React.js , REDUX, REST API ,WebPack
                             <span class="my-project-bracket">]</span>
                            <p class="my-project-link" >Application a contact and with a responsive layout. Role: All alone . </p>
                        </span>
                    </Li>
                    <Li class="my-project-item">
                        <span class="my-project-text">
                            <a class="my-project-bracket" href="https://portfolio-vidiborets.netlify.app/">PORTFOLIO</a>
                            <a class="my-project-link" href="https://github.com/Vidiborets/portfolio-react">Link to code</a>
                            ..
                            <span class="my-project-bracket">[</span> HTML, SASS, React , WebPack , Style Component, Node 
                             <span class="my-project-bracket">]</span>
                            <p class="my-project-link" >Application portfolio and with a responsive layout. Role: All alone . </p>
                        </span>
                  </Li>
                    <Li class="my-project-item">
                        <span class="my-project-text">
                            <a class="my-project-bracket" href="https://medical-vidiborets.netlify.app/">MEDICAL</a>
                            <a class="my-project-link" href="https://github.com/Vidiborets/Medical/">Link to code</a>
                            ..
                            <span class="my-project-bracket">[</span> HTML, SASS, React.js , WebPack , Styled Component,PHP
                            <span class="my-project-bracket">]</span>
                            <p class="my-project-link" >Application portfolio and with a responsive layout. Role: All alone . </p>
                        </span>
                    </Li>
                </ol>   
            </div>
            <!--My Work expirience-->
            <div class="my-expirience-section">
                <h3 class="main-contant-title">Work Experience</h3>
                <!--Company 3-->
                <div class="my-work-exprirence-company">
                    <h4 class="my-work-exprirence-position">Front-End Developer <span class="my-work-expirience-company">Freelance</span> </h4>
                    <p class="my-work-exprirence-time">September 2021 - up to now  <span class="my-work-exprirence-divider">|</span> Ukraine</p>
                    <ul class="my-work-expririence-duties">
                        <li class="my-work-expririence-duty">Creation Landing.</li>
                        <li class="my-work-expririence-duty">Adaptive design.</li>
                        <li class="my-work-expririence-duty">Logic site and create form Feedback.</li>
                        <li class="my-work-expririence-duty">This is my first commercial project<a class="my-work-expririence-duty link" href="http://workmed-org.com.ua/">Link</a></li> 
                    </ul>
                </div>
                <!--Company 2-->
                <div>
                    <h4 class="my-work-exprirence-position">Manager & <span class="my-work-expirience-company">MMA</span></h4>
                    <p class="my-work-exprirence-time">May 2018 -  up to now  <span class="my-work-exprirence-divider">|</span>  Ukraine</p>
                    <ul class="my-work-expririence-duties">
                        <li class="my-work-expririence-duty">Maintaining a large customer base.</li>
                        <li class="my-work-expririence-duty">Communication with team.</li>
                        <li class="my-work-expririence-duty">Sale of goods.</li> 
                    </ul>
                </div>
                <!--Company 1-->
                <!-- <div>
                    <h4 class="my-work-exprirence-position">Team Manager <span class="my-work-expirience-company">Citrus</span> </h4>
                    <p class="my-work-exprirence-time">June 2014 - April 2018  <span class="my-work-exprirence-divider">|</span>   Ukraine</p>
                    <ul class="my-work-expririence-duties">
                        <li class="my-work-expririence-duty">Large team management</li>
                        <li class="my-work-expririence-duty">Analitics and Work with CMS</li>
                        <li class="my-work-expririence-duty">Selling mobile phones</li>
                    </ul>
                </div> -->
            </div>
            <!--My work Education-->
            <div>
                <h3 class="main-contant-title">Education</h3>
                <h4 class="my-work-exprirence-position"><span class="my-work-expirience-company">National Acadamy</span></h4>
                <h5 class="my-proffesion">Management</h5>
                <p class="my-work-exprirence-time">September 2009 - June 2014  <span class="my-work-exprirence-divider">|</span>    Ukraine</p>
            </div>
            <div>
              <h3 class="main-contant-title">Additional Education</h3>
              <h4 class="my-work-exprirence-position"><span class="my-work-expirience-company">Go IT</span></h4>
              <h5 class="my-proffesion">Full Stack developer</h5>
              <p class="my-work-exprirence-time">May 2021 - Febrary 2022  <span class="my-work-exprirence-divider">|</span>    Ukraine</p>
          </div>
        </div>
        <!--Side bar section-->
        <aside class="side-bar-section">
            <img class="side-bar-image" src="/images/photo5303395123289239606.png" alt="my photo5303395123289239606">
            <!-- Contact Section-->
            <div class="contact-section">
                <h3 class="side-bar-tittle">Contacts</h3>
                <div class="contact-section-box">
                    <span class="contact-section-type">
                        <svg width="20" height="20">
                            <use fill="#fff" href="/images/sprite.svg#icon-phone"></use>
                        </svg>
                        <span style="margin-left: 5px;">:</span>
                    </span>
                    <a class="contact-section-link" href="tel:+380507333080">+380507333080</a>
                </div>
                <div class="contact-section-box">
                    <span class="contact-section-type">
                        <svg width="20" height="20">
                            <use fill="#fff" href="/images/sprite.svg#icon-mail4"></use>
                        </svg>
                        <span style="margin-left: 5px;">:</span>
                    </span>
                    <a class="contact-section-link" href="mailto:a.vidiborets@gmail.com">a.vidiborets@gmail.com</a>
                </div>
                <div class="contact-section-box">
                    <span class="contact-section-type">
                        <svg width="20" height="20">
                            <use fill="#fff" href="/images/sprite.svg#icon-github"></use>
                        </svg>
                        <span style="margin-left: 5px;">:</span>
                    </span>
                    <a class="contact-section-link" href="https://github.com/Vidiborets">vidiborets</a>
                </div>
                <div class="contact-section-box">
                    <span class="contact-section-type">
                        <svg width="20" height="20">
                            <use fill="#fff" href="/images/sprite.svg#icon-linkedin"></use>
                        </svg>
                        <span style="margin-left: 5px;">:</span>
                    </span>
                    <a class="contact-section-link" href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%B4%D1%80%D0%B5%D0%B9-%D0%B2%D1%8B%D0%B4%D0%B8%D0%B1%D0%BE%D1%80%D0%B5%D1%86-a94609211/">Andrew Vidiborets</a>
                </div>
                <div class="contact-section-box">
                    <span class="contact-section-type">
                        <svg width="20" height="20">
                            <use fill="#fff" href="/images/sprite.svg#icon-home3"></use>
                        </svg>
                        <span style="margin-left: 5px;">:</span>
                    </span>
                    <a class="contact-section-link" href="https://www.google.com/maps/place/%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4598865,30.5717043,11z/data=!3m1!4b1!4m5!3m4!1s0x40c6318a0b864c43:0x129f8fe28cf2176c!8m2!3d46.482526!4d30.7233095">Odessa</a>
                </div>
            </div>
            <!--Tech Skills-->
            <div class="tech-skills-section">
                <h3 class="side-bar-tittle">Tech Skills</h3>
                <ul class="tech-skills-list">
                    <li class="tech-skills-item"><span class="tech-skills-item-text">HTML5</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">CSS3</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">GIT</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">WebPack</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">JavaScript</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">React.js</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">REST API</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Handlebars</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Parcel</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Redux</span></li>
                </ul>
            </div>
            <!--Soft Skills-->
            <div class="tech-skills-section">
                <h3 class="side-bar-tittle">Soft Skills</h3>
                <ul class="tech-skills-list">
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Teamwork</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Good communication</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Creativity</span></li>
                </ul>
            </div>
            <div class="tech-skills-section">
                <h3 class="side-bar-tittle">Methodologies</h3>
                <ul class="tech-skills-list">
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Scrum</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Agile</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">GTD</span></li>
                </ul>
            </div>
            <!--LANGUAGES-->
            <div class="tech-skills-section">
              <h3 class="side-bar-tittle">Languages</h3>
              <ul class="tech-skills-list">
                  <li class="tech-skills-item"><span class="tech-skills-item-text">English - Intermediate</span></li>
                  <li class="tech-skills-item"><span class="tech-skills-item-text">Ukraine - Native</span></li>
                  <li class="tech-skills-item"><span class="tech-skills-item-text">Russian - Native</span></li>
              </ul>
          </div>
        </aside>
    </div>
